#code_editor {
  background-color: rgb(39, 39, 39);
  overflow-y: auto;
  cursor: text;
  /* overflow-x: hidden; */
}
.caret {
  transition: 0.06s;
}
.linenum {
  color: whitesmoke;
  width: 40px;
}
.code {
  color: white;
}

.curLine {
  background-color: rgb(78, 78, 78);
}
.keyword {
  color: rgb(20, 181, 255);
  display: inline-block;
}
.value {
  color: rgb(253, 136, 2);
  display: inline-block;
}
.comment {
  color: rgb(7, 212, 7);
  display: inline-block;
}