body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#page {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  
  overflow: auto;
  z-index: 0;
}

.line {
  position: relative;
  top: 0px;
  left: 0px;
  width: calc(100% - 10px);
  min-height: 2vh;
  
  font-size: 2vh;
  padding: 2px 5px;

  z-index: 2;
}
.line .linenum {
  display: inline-block;
}
.line .code {
  display: inline-block;
  margin: 0px 5px;
}

.character {
  display: inline-block;
  color: inherit;
  padding: 0;
  margin: 0;
}

.keyword {
  color: blue;
  display: inline-block;
}
.value {
  color: red;
  display: inline-block;
}